/*selectBox style*/
.selectric-wrapper {
  margin: 0px;
}
.selectric-open{
  z-index: 2;
}
.selectric-select_date .selectric-items ul{
  padding: 0px;
}
.selectric-select_date .button:after{
  border-top-color: transparent;
  width: 0px;
  height: 0px;
  border: none;
}
.selectric-select_date .selectric-items .selectric-scroll {
  overflow-x: hidden;
}
.selectric-select_date .selectric-items .disabled {
  display: none;
}

/*select_date*/
.selectric-wrapper.selectric-select_date .selectric{
  margin-right: 6px;
}
.selectric-select_date .selectric {
  width: 80px;
  height: 28px;
  border-radius: 5px;   
  font-family: "NotoSansCJKL";
  font-size: 12px;
  text-align: left;
  color: #ffffff;
  letter-spacing: -1px;
  padding-left: 0px;
  margin: 0;
  cursor: pointer;
  border: solid 1px #474e52;
  background-color: #1a1d1f;
  float: left;
}
.selectric-select_date .selectric:hover{
  border: solid 1px #048736;
  background-color: #0c0e0f;
}
.selectric-select_date.selectric-open .selectric{
  border: solid 1px #048736;
  background-color: #0c0e0f;
}
.selectric-select_date .selectric-items {
  width: 80px;
  border-radius: 5px;   
  margin: 0;
  padding: 5px 0;
  border: solid 1px #048736;
  background-color: #0c0e0f;
}
.selectric-select_date .selectric-items li {
  font-family: "NotoSansCJKR";
  font-size: 12px;
  text-align: left;
  color: #ffffff;
  letter-spacing: -0.24px;
  padding: 0 12.7px;
  line-height: 2;
  width: 78px;
  height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.selectric-select_date .selectric-items li:hover {
  width: 78px;
  height: 24px;
  font-family: "NotoSansCJKR";
  font-size: 12px;
  color: #ffffff;
  background-color: rgba(4, 135, 54,0.2);
}
.selectric-select_date .selectric-items li.selected,
.selectric-select_date .selectric-items li.selected:hover {
  width: 78px;
  height: 24px;
  font-family: "NotoSansCJKR";
  font-size: 12px;
  color: #0ead4b;
  background-color: transparent;
}
.selectric-select_date .selectric .label {
  font-family: "NotoSansCJKL";
  font-size: 12px;
  text-align: left;
  color: #ffffff;
  letter-spacing: -0.24px;
  padding: 0 21px 0 13.7px;
  line-height: 2;
  height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.selectric-select_date .button {
  width: 24px;
  height: 24px;
  background: url("../../image/dark/page/evtHistory/btn/btn_mapSetting_arrow_down.png") no-repeat;
  top: 0px;
  right: 1px;
}
.selectric-select_date.selectric-open .button {
  background: url("../../image/dark/page/evtHistory/btn/btn_mapSetting_arrow_up.png") no-repeat;
  top: 1px;
}

/*selectric scroll style*/
::-webkit-scrollbar {
  background-color: transparent;
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color:transparent;
}
::-webkit-scrollbar-thumb {
  background-color:#738f9c;   
  border-radius: 1.5px;
}